@import url(fonts/clear-sans.css);
html, body {
  margin: 0;
  padding: 0;
  background: #d9ffe5;
  color: #290206;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }

body {
  margin: 80px 0; }

.heading:after {
  content: "";
  display: block;
  clear: both; }

h1.title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left; }

@-webkit-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }

@-moz-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }

@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }

.scores-container {
  float: right;
  text-align: right; }

.score-container, .best-container {
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 15px 25px;
  font-size: 25px;
  height: 25px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center; }
  .score-container:after, .best-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da; }
  .score-container .score-addition, .best-container .score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: rgba(119, 110, 101, 0.9);
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }

.score-container:after {
  content: "Score"; }

.best-container:after {
  content: "Best"; }

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; }

a {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

strong.important {
  text-transform: uppercase; }

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px; }

.container {
  width: 600px;
  margin: 0 auto; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.game-container {
  margin-top: 40px;
  margin-left: 60px;
  position: relative;
  padding: 10px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  background: #bbada0;
  border-radius: 6px;
  width: 492px;
  height: 492px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .game-container .game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(238, 228, 218, 0.5);
    z-index: 100;
    text-align: center;
    -webkit-animation: fade-in 800ms ease 1200ms;
    -moz-animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }
    .game-container .game-message p {
      font-size: 60px;
      font-weight: bold;
      height: 60px;
      line-height: 60px;
      margin-top: 222px; }
    .game-container .game-message .lower {
      display: block;
      margin-top: 59px; }
    .game-container .game-message a {
      display: inline-block;
      background: #8f7a66;
      border-radius: 3px;
      padding: 0 20px;
      text-decoration: none;
      color: #f9f6f2;
      height: 40px;
      line-height: 42px;
      margin-left: 9px; }
      .game-container .game-message a.keep-playing-button {
        display: none; }
    .game-container .game-message .score-sharing {      display: inline-block;      vertical-align: middle;      margin-left: 10px; }    .game-container .game-message.game-won {
      background: rgba(237, 194, 46, 0.5);
      color: #f9f6f2; }
      .game-container .game-message.game-won a.keep-playing-button {
        display: inline-block; }
    .game-container .game-message.game-won, .game-container .game-message.game-over {
      display: block; }

.grid-container {
  position: absolute;
  z-index: 1; }

.grid-row {
  margin-bottom: 6.7px; }
  .grid-row:last-child {
    margin-bottom: 0; }
  .grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
  width: 53.25px;
  height: 53.25px;
  margin-right: 6.7px;
  float: left;
  border-radius: 3px;
  background: rgba(238, 228, 218, 0.35); }
  .grid-cell:last-child {
    margin-right: 0; }

.tile-container {
  position: absolute;
  z-index: 2; }

.tile, .tile .tile-inner {
  width: 52.25px;
  height: 52.25px;
  line-height: 56.25px; }
.tile.tile-position-1-1 {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }
.tile.tile-position-1-2 {
  -webkit-transform: translate(0px, 60px);
  -moz-transform: translate(0px, 60px);
  transform: translate(0px, 60px); }
.tile.tile-position-1-3 {
  -webkit-transform: translate(0px, 120px);
  -moz-transform: translate(0px, 120px);
  transform: translate(0px, 120px); }
.tile.tile-position-1-4 {
  -webkit-transform: translate(0px, 180px);
  -moz-transform: translate(0px, 180px);
  transform: translate(0px, 180px); }
.tile.tile-position-1-5 {
  -webkit-transform: translate(0px, 240px);
  -moz-transform: translate(0px, 240px);
  transform: translate(0px, 240px); }
.tile.tile-position-1-6 {
  -webkit-transform: translate(0px, 300px);
  -moz-transform: translate(0px, 300px);
  transform: translate(0px, 300px); }
.tile.tile-position-1-7 {
  -webkit-transform: translate(0px, 360px);
  -moz-transform: translate(0px, 360px);
  transform: translate(0px, 360px); }
.tile.tile-position-1-8 {
  -webkit-transform: translate(0px, 420px);
  -moz-transform: translate(0px, 420px);
  transform: translate(0px, 420px); }
.tile.tile-position-2-1 {
  -webkit-transform: translate(60px, 0px);
  -moz-transform: translate(60px, 0px);
  transform: translate(60px, 0px); }
.tile.tile-position-2-2 {
  -webkit-transform: translate(60px, 60px);
  -moz-transform: translate(60px, 60px);
  transform: translate(60px, 60px); }
.tile.tile-position-2-3 {
  -webkit-transform: translate(60px, 120px);
  -moz-transform: translate(60px, 120px);
  transform: translate(60px, 120px); }
.tile.tile-position-2-4 {
  -webkit-transform: translate(60px, 180px);
  -moz-transform: translate(60px, 180px);
  transform: translate(60px, 180px); }
.tile.tile-position-2-5 {
  -webkit-transform: translate(60px, 240px);
  -moz-transform: translate(60px, 240px);
  transform: translate(60px, 240px); }
.tile.tile-position-2-6 {
  -webkit-transform: translate(60px, 300px);
  -moz-transform: translate(60px, 300px);
  transform: translate(60px, 300px); }
.tile.tile-position-2-7 {
  -webkit-transform: translate(60px, 360px);
  -moz-transform: translate(60px, 360px);
  transform: translate(60px, 360px); }
.tile.tile-position-2-8 {
  -webkit-transform: translate(60px, 420px);
  -moz-transform: translate(60px, 420px);
  transform: translate(60px, 420px); }
.tile.tile-position-3-1 {
  -webkit-transform: translate(120px, 0px);
  -moz-transform: translate(120px, 0px);
  transform: translate(120px, 0px); }
.tile.tile-position-3-2 {
  -webkit-transform: translate(120px, 60px);
  -moz-transform: translate(120px, 60px);
  transform: translate(120px, 60px); }
.tile.tile-position-3-3 {
  -webkit-transform: translate(120px, 120px);
  -moz-transform: translate(120px, 120px);
  transform: translate(120px, 120px); }
.tile.tile-position-3-4 {
  -webkit-transform: translate(120px, 180px);
  -moz-transform: translate(120px, 180px);
  transform: translate(120px, 180px); }
.tile.tile-position-3-5 {
  -webkit-transform: translate(120px, 240px);
  -moz-transform: translate(120px, 240px);
  transform: translate(120px, 240px); }
.tile.tile-position-3-6 {
  -webkit-transform: translate(120px, 300px);
  -moz-transform: translate(120px, 300px);
  transform: translate(120px, 300px); }
.tile.tile-position-3-7 {
  -webkit-transform: translate(120px, 360px);
  -moz-transform: translate(120px, 360px);
  transform: translate(120px, 360px); }
.tile.tile-position-3-8 {
  -webkit-transform: translate(120px, 420px);
  -moz-transform: translate(120px, 420px);
  transform: translate(120px, 420px); }
.tile.tile-position-4-1 {
  -webkit-transform: translate(180px, 0px);
  -moz-transform: translate(180px, 0px);
  transform: translate(180px, 0px); }
.tile.tile-position-4-2 {
  -webkit-transform: translate(180px, 60px);
  -moz-transform: translate(180px, 60px);
  transform: translate(180px, 60px); }
.tile.tile-position-4-3 {
  -webkit-transform: translate(180px, 120px);
  -moz-transform: translate(180px, 120px);
  transform: translate(180px, 120px); }
.tile.tile-position-4-4 {
  -webkit-transform: translate(180px, 180px);
  -moz-transform: translate(180px, 180px);
  transform: translate(180px, 180px); }
.tile.tile-position-4-5 {
  -webkit-transform: translate(180px, 240px);
  -moz-transform: translate(180px, 240px);
  transform: translate(180px, 240px); }
.tile.tile-position-4-6 {
  -webkit-transform: translate(180px, 300px);
  -moz-transform: translate(180px, 300px);
  transform: translate(180px, 300px); }
.tile.tile-position-4-7 {
  -webkit-transform: translate(180px, 360px);
  -moz-transform: translate(180px, 360px);
  transform: translate(180px, 360px); }
.tile.tile-position-4-8 {
  -webkit-transform: translate(180px, 420px);
  -moz-transform: translate(180px, 420px);
  transform: translate(180px, 420px); }
.tile.tile-position-5-1 {
  -webkit-transform: translate(240px, 0px);
  -moz-transform: translate(240px, 0px);
  transform: translate(240px, 0px); }
.tile.tile-position-5-2 {
  -webkit-transform: translate(240px, 60px);
  -moz-transform: translate(240px, 60px);
  transform: translate(240px, 60px); }
.tile.tile-position-5-3 {
  -webkit-transform: translate(240px, 120px);
  -moz-transform: translate(240px, 120px);
  transform: translate(240px, 120px); }
.tile.tile-position-5-4 {
  -webkit-transform: translate(240px, 180px);
  -moz-transform: translate(240px, 180px);
  transform: translate(240px, 180px); }
.tile.tile-position-5-5 {
  -webkit-transform: translate(240px, 240px);
  -moz-transform: translate(240px, 240px);
  transform: translate(240px, 240px); }
.tile.tile-position-5-6 {
  -webkit-transform: translate(240px, 300px);
  -moz-transform: translate(240px, 300px);
  transform: translate(240px, 300px); }
.tile.tile-position-5-7 {
  -webkit-transform: translate(240px, 360px);
  -moz-transform: translate(240px, 360px);
  transform: translate(240px, 360px); }
.tile.tile-position-5-8 {
  -webkit-transform: translate(240px, 420px);
  -moz-transform: translate(240px, 420px);
  transform: translate(240px, 420px); }
.tile.tile-position-6-1 {
  -webkit-transform: translate(300px, 0px);
  -moz-transform: translate(300px, 0px);
  transform: translate(300px, 0px); }
.tile.tile-position-6-2 {
  -webkit-transform: translate(300px, 60px);
  -moz-transform: translate(300px, 60px);
  transform: translate(300px, 60px); }
.tile.tile-position-6-3 {
  -webkit-transform: translate(300px, 120px);
  -moz-transform: translate(300px, 120px);
  transform: translate(300px, 120px); }
.tile.tile-position-6-4 {
  -webkit-transform: translate(300px, 180px);
  -moz-transform: translate(300px, 180px);
  transform: translate(300px, 180px); }
.tile.tile-position-6-5 {
  -webkit-transform: translate(300px, 240px);
  -moz-transform: translate(300px, 240px);
  transform: translate(300px, 240px); }
.tile.tile-position-6-6 {
  -webkit-transform: translate(300px, 300px);
  -moz-transform: translate(300px, 300px);
  transform: translate(300px, 300px); }
.tile.tile-position-6-7 {
  -webkit-transform: translate(300px, 360px);
  -moz-transform: translate(300px, 360px);
  transform: translate(300px, 360px); }
.tile.tile-position-6-8 {
  -webkit-transform: translate(300px, 420px);
  -moz-transform: translate(300px, 420px);
  transform: translate(300px, 420px); }
.tile.tile-position-7-1 {
  -webkit-transform: translate(360px, 0px);
  -moz-transform: translate(360px, 0px);
  transform: translate(360px, 0px); }
.tile.tile-position-7-2 {
  -webkit-transform: translate(360px, 60px);
  -moz-transform: translate(360px, 60px);
  transform: translate(360px, 60px); }
.tile.tile-position-7-3 {
  -webkit-transform: translate(360px, 120px);
  -moz-transform: translate(360px, 120px);
  transform: translate(360px, 120px); }
.tile.tile-position-7-4 {
  -webkit-transform: translate(360px, 180px);
  -moz-transform: translate(360px, 180px);
  transform: translate(360px, 180px); }
.tile.tile-position-7-5 {
  -webkit-transform: translate(360px, 240px);
  -moz-transform: translate(360px, 240px);
  transform: translate(360px, 240px); }
.tile.tile-position-7-6 {
  -webkit-transform: translate(360px, 300px);
  -moz-transform: translate(360px, 300px);
  transform: translate(360px, 300px); }
.tile.tile-position-7-7 {
  -webkit-transform: translate(360px, 360px);
  -moz-transform: translate(360px, 360px);
  transform: translate(360px, 360px); }
.tile.tile-position-7-8 {
  -webkit-transform: translate(360px, 420px);
  -moz-transform: translate(360px, 420px);
  transform: translate(360px, 420px); }
.tile.tile-position-8-1 {
  -webkit-transform: translate(420px, 0px);
  -moz-transform: translate(420px, 0px);
  transform: translate(420px, 0px); }
.tile.tile-position-8-2 {
  -webkit-transform: translate(420px, 60px);
  -moz-transform: translate(420px, 60px);
  transform: translate(420px, 60px); }
.tile.tile-position-8-3 {
  -webkit-transform: translate(420px, 120px);
  -moz-transform: translate(420px, 120px);
  transform: translate(420px, 120px); }
.tile.tile-position-8-4 {
  -webkit-transform: translate(420px, 180px);
  -moz-transform: translate(420px, 180px);
  transform: translate(420px, 180px); }
.tile.tile-position-8-5 {
  -webkit-transform: translate(420px, 240px);
  -moz-transform: translate(420px, 240px);
  transform: translate(420px, 240px); }
.tile.tile-position-8-6 {
  -webkit-transform: translate(420px, 300px);
  -moz-transform: translate(420px, 300px);
  transform: translate(420px, 300px); }
.tile.tile-position-8-7 {
  -webkit-transform: translate(420px, 360px);
  -moz-transform: translate(420px, 360px);
  transform: translate(420px, 360px); }
.tile.tile-position-8-8 {
  -webkit-transform: translate(420px, 420px);
  -moz-transform: translate(420px, 420px);
  transform: translate(420px, 420px); }

.tile {
  position: absolute;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform; }
  .tile .tile-inner {
    border-radius: 3px;
    background: #321b77;
    color: #f9f6f2;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 30px; }
  .tile.tile--2 .tile-inner {
    color: #f9f6f2;
    background: #9b4800; }
  .tile.tile--1 .tile-inner {
    color: #f9f6f2;
    background: #5b2b21; }
  .tile.tile-0 .tile-inner {
    color: #cdc1b4;
    background: #cdc1b4; }
  .tile.tile-1 .tile-inner {
    color: #f9f6f2;
    background: #f2f229; }
  .tile.tile-2 .tile-inner {
    color: #f9f6f2;
    background: #ef951a; }
  .tile.tile-3 .tile-inner {
    color: #f9f6f2;
    background: #ea2215; }
  .tile.tile-4 .tile-inner {
    color: #f9f6f2;
    background: #ec00f0; }
  .tile.tile-5 .tile-inner {
    color: #f9f6f2;
    background: #5b1575; }
  .tile.tile-6 .tile-inner {
    color: #f9f6f2;
    background: #09227a; }
  .tile.tile-7 .tile-inner {
    color: #f9f6f2;
    background: #187c86; }
  .tile.tile-8 .tile-inner {
    color: #f9f6f2;
    background: #1e981e; }
  .tile.tile--8 .tile-inner {
    color: #f9f6f2;
    background: #075108; }
  .tile.tile--9 .tile-inner {
    color: #f9f6f2;
    background: #88c524; }
  .tile.tile-9 .tile-inner {
    color: #f9f6f2;
    background: #748e69; }
  .tile.tile-10 .tile-inner {
    color: #f9f6f2;
    background: #000000; }
  .tile.tile-11 .tile-inner {
    color: #000000;
    background: #ffffff; }
  .tile.tile-12 .tile-inner {
    color: #292929;
    background: #959595; }
  .tile.tile-13 .tile-inner {
    color: #f9f6f2;
    background: #7e6243; }
  .tile.tile-14 .tile-inner {
    color: #f9f6f2;
    background: #7e7143; }
  .tile.tile-15 .tile-inner {
    color: #f9f6f2;
    background: #a77fdc; }
  .tile.tile-16 .tile-inner {
    color: #f9f6f2;
    background: #f387d9; }
  .tile.tile-17 .tile-inner {
    color: #1c1c05;
    background: #a6f315; }
  .tile.tile--17 .tile-inner {
    color: #f9f6f2;
    background: #a47615; }
  .tile.tile-18 .tile-inner {
    color: #b7ab18;
    background: #54478b; }
  .tile.tile--18 .tile-inner {
    color: #f9f6f2;
    background: #a9bedf; }
  .tile.tile-19 .tile-inner {
    color: #3acb9e;
    background: #bdcbff; }
  .tile.tile-20 .tile-inner {
    color: #ff5281;
    background: #3c4164; }
  .tile.tile--20 .tile-inner {
    color: #f9f6f2;
    background: #3a590d; }
  .tile.tile-21 .tile-inner {
    color: #241408;
    background: #51e765; }
  .tile.tile--21 .tile-inner {
    color: #f9f6f2;
    background: #bd4e0d; }
  .tile.tile-22 .tile-inner {
    color: #e7e246;
    background: #0ab874; }
  .tile.tile--22 .tile-inner {
     color: #f9f6f2;
     background: #19a1b7; }
  .tile.tile-23 .tile-inner {
    color: #f9f6f2;
    background: #890449; }
  .tile.tile--23 .tile-inner {
    color: #56076f;
    background: #e3617e; }
  .tile.tile-24 .tile-inner {
    color: #7f6450;
    background: #334735; }
  .tile.tile--24 .tile-inner {
    color: #56076f;
    background: #e361c4; }
  .tile.tile-25 .tile-inner {
    color: #3c4164;
    background: #ff5281; }
  .tile.tile--25 .tile-inner {
     color: #f9f6f2;
     background: #df8ff9; }
  .tile.tile-26 .tile-inner {
     color: #f9f6f2;
     background: #d4ff00; }
  .tile.tile-27 .tile-inner {
     color: #f98f8f;
     background: #717300; }
  .tile.tile--27 .tile-inner {
    color: #f9f6f2;
    background: #05bda1; }
  .tile.tile-28 .tile-inner {
    color: #4a73a7;
    background: #a6c962; }
  .tile.tile--28 .tile-inner {
    color: #f9f6f2;
    background: #775899; }
  .tile.tile-29 .tile-inner {
     color: #f9f6f2;
     background: #ffc900; }
  .tile.tile-30 .tile-inner {
     color: #f9f6f2;
     background: #8fdc47; }
  .tile.tile--30 .tile-inner {
     color: #bd5f4f;
     background: #c4d75f; }
  .tile.tile-31 .tile-inner {
    color: #8200d1;
    background: #ffe076; }
  .tile.tile--31 .tile-inner {
    color: #38f650;
    background: #4c8548; }
  .tile.tile-32 .tile-inner {
    color: #7a82e3;
    background: #d9c796; }
  .tile.tile--32 .tile-inner {
    color: #e72525;
    background: #0af86f; }
  .tile.tile-33 .tile-inner {
    color: #e74b25;
    background: #6df80a; }
  .tile.tile--33 .tile-inner {
    color: #b1712b;
    background: #3dff0070; }
  .tile.tile-34 .tile-inner {
    color: #b9491f;
    background: #91a5d5; }
  .tile.tile--34 .tile-inner {
    color: #e75a25;
    background: #a5f80a; }
  .tile.tile-35 .tile-inner {
    color: #f2541d;
    background: #0d4617; }
  .tile.tile-36 .tile-inner {
    color: #b1f62c;
    background: #355501; }
  .tile.tile-37 .tile-inner {
    color: #ff92e2;
    background: #325752; }
  .tile.tile-38 .tile-inner {
    color: #c8fa4d;
    background: #784cd7; }
  .tile.tile-39 .tile-inner {
     color: #0d2109;
     background: #f9fb54; }
  .tile.tile-40 .tile-inner {
    color: #ff0000;
    background: #fff890; }
  .tile.tile-41 .tile-inner {
    color: #791111;
    background: #abecbf; }
  .tile.tile--41 .tile-inner {
    color: #f9f6f2;
    background: #6b16df; }
  .tile.tile-42 .tile-inner {
    color: #241408;
    background: #517ae7; }
  .tile.tile-43 .tile-inner {
     color: #52ff3e;
     background: #c02212; }
  .tile.tile-44 .tile-inner {
     color: #1a77bb;
     background: #1e2326; }
  .tile.tile-45 .tile-inner {
    color: #233fa6;
    background: #c2a57a; }
  .tile.tile-46 .tile-inner {
    color: #1c1c05;
    background: #fb6318; }
  .tile.tile--46 .tile-inner {
     color: #b77318;
     background: #8ac763; }
  .tile.tile-47 .tile-inner {
    color: #7f267b;
    background: #2bbcbd; }
  .tile.tile-48 .tile-inner {
     color: #17b496;
     background: #856f62; }
  .tile.tile--48 .tile-inner {
    color: #ffc500;
    background: #217400; }
  .tile.tile-49 .tile-inner {
    color: #8da936;
    background: #7c547d; }
  .tile.tile--49 .tile-inner {
    color: #f9f6f2;
    background: #b9c0aa; }
  .tile.tile-50 .tile-inner {
    color: #63e4e7;
    background: #11586d; }
  .tile.tile-51 .tile-inner {
    color: #14584a;
    background: #d3946e; }
  .tile.tile-52 .tile-inner {
    color: #c0d746;
    background: #9a3d8e; }
  .tile.tile-53 .tile-inner {
    color: #ffd4b0;
    background: #3a3506; }
  .tile.tile-54 .tile-inner {
    color: #ffc7a2;
    background: #719eab; }
  .tile.tile-55 .tile-inner {
    color: #15a3b3;
    background: #ffcd39; }
  .tile.tile--55 .tile-inner {
    color: #c7ff7f;
    background: #b75333; }
  .tile.tile-56 .tile-inner {
    color: #9c019a;
    background: #80e2ff; }
  .tile.tile-57 .tile-inner {
    color: #510382;
    background: #4aca4e; }
  .tile.tile--57 .tile-inner {
    color: #ffe30c;
    background: #5b8f95; }
  .tile.tile-58 .tile-inner {
    color: #714368;
    background: #53ca99; }
  .tile.tile-59 .tile-inner {
    color: #fdf73a;
    background: #9ecfc7; }
  .tile.tile-60 .tile-inner {
    color: #105650;
    background: #fcc2c2; }
  .tile.tile-61 .tile-inner {
    color: #140d7b;
    background: #bd5959; }
  .tile.tile-62 .tile-inner {
    color: #124695;
    background: #10fde4; }
  .tile.tile-63 .tile-inner {
    color: #7aebce;
    background: #6b0c57; }
  .tile.tile--63 .tile-inner {
    color: #241408;
    background: #ad51e7; }
  .tile.tile-64 .tile-inner {
    color: #cd07a9;
    background: #b8a790; }
  .tile.tile-65 .tile-inner {
    color: #ffabf0;
    background: #75a567; }
  .tile.tile-66 .tile-inner {
    color: #39eb82;
    background: #017f00; }
  .tile.tile--66 .tile-inner {
    color: #4a055f;
    background: #7c8443; }
  .tile.tile-67 .tile-inner {
     color: #095b5b;
     background: #ffbc00; }
  .tile.tile-68 .tile-inner {
    color: #1d6a51;
    background: #c38896; }
  .tile.tile-69 .tile-inner {
    color: #344595;
    background: #ff8a52; }
  .tile.tile-70 .tile-inner {
    color: #f9f809;
    background: #949b9c; }
  .tile.tile--70 .tile-inner {
    color: #e1dc31;
    background: #67563f; }
  .tile.tile-71 .tile-inner {
    color: #908d8f;
    background: #312f30; }
  .tile.tile-72 .tile-inner {
    color: #4dffe1;
    background: #6b0e0a; }
  .tile.tile-73 .tile-inner {
    color: #681e18;
    background: #988080; }
  .tile.tile-74 .tile-inner {
    color: #1b6493;
    background: #1b4593; }
  .tile.tile-75 .tile-inner {
    color: #95fdf5;
    background: #94c3bc; }
  .tile.tile--75 .tile-inner {
    color: #ffc3a0;
    background: #a79e91; }
  .tile.tile-75- .tile-inner {
    color: #f6d11d;
    background: #7885a5; }
  .tile.tile-76 .tile-inner {
    color: #eeff1b;
    background: #124230; }
  .tile.tile-77 .tile-inner {
    color: #124d31;
    background: #cfea84; }
  .tile.tile-78 .tile-inner {
     color: #785c50;
     background: #4a362d; }
  .tile.tile-79 .tile-inner {
    color: #4b4092;
    background: #e3e298; }
  .tile.tile-80 .tile-inner {
    color: #f2a44c;
    background: #54636a; }
  .tile.tile-81 .tile-inner {
    color: #ffd968;
    background: #894040; }
  .tile.tile-82 .tile-inner {
    color: #437376;
    background: #ea9292; }
  .tile.tile--82 .tile-inner {
    color: #79695a;
    background: #bd9f86; }
  .tile.tile-83 .tile-inner {
    color: #1a8e83;
    background: #eaae81; }
  .tile.tile-84 .tile-inner {
    color: #241408;
    background: #e75d51; }
  .tile.tile-85 .tile-inner {
    color: #b17a1c;
    background: #0c6c57; }
  .tile.tile-86 .tile-inner {
    color: #af008f;
    background: #8faf00; }
  .tile.tile-87 .tile-inner {
    color: #ff8d5f;
    background: #3e6393; }
  .tile.tile-88 .tile-inner {
    color: #4e0c9a;
    background: #90ffa3; }
  .tile.tile-89 .tile-inner {
    color: #8c2bff;
    background: #c6ffa4; }
  .tile.tile-90 .tile-inner {
    color: #5c5268;
    background: #499447; }
  .tile.tile-91 .tile-inner {
    color: #000fff;
    background: #f1f0f3; }
  .tile.tile-92 .tile-inner {
    color: #13ff00;
    background: #f1f0f3; }
  .tile.tile-93 .tile-inner {
    color: #ff6c00;
    background: #f1f0f3; }
  .tile.tile-94 .tile-inner {
    color: #b600ff;
    background: #f1f0f3; }
  .tile.tile-95 .tile-inner {
    color: #838383;
    background: #f1f0f3; }
  .tile.tile-96 .tile-inner {
    color: #b6ff00;
    background: #f1f0f3; }
  .tile.tile-97 .tile-inner {
    color: #6ad9d9;
    background: #f1f0f3; }
  .tile.tile-98 .tile-inner {
    color: #f91e4f;
    background: #f1f0f3; }
  .tile.tile-99 .tile-inner {
    color: #0e8c4d;
    background: #f1f0f3; }
  .tile.tile-100 .tile-inner {
     color: #60fe38;
     background: #30426f;
     font-size: 26px; }
  .tile.tile-102 .tile-inner {
    color: #ef951a;
    background: #ef951a;
    font-size: 25px; }
  .tile.tile-111 .tile-inner {
    color: #ddd9ff;
    background: #bfafcd;
    font-size: 26px; }
  .tile.tile-112 .tile-inner {
    color: #f7ceda;
    background: #d3a4b1; 
    font-size: 26px; }
  .tile.tile-113 .tile-inner {
     color: #b6bf6e;
     background: #817c49; 
    font-size: 26px; }
  .tile.tile-114 .tile-inner {
     color: #bad5b5;
     background: #a1b798; 
    font-size: 26px; }
  .tile.tile-115 .tile-inner {
    color: #197992;
    background: #87aab4;
    font-size: 26px; }
  .tile.tile-116 .tile-inner {
    color: #194592;
    background: #8d87b4;
    font-size: 26px; }
  .tile.tile-117 .tile-inner {
     color: #118244;
     background: #8eb487; 
    font-size: 26px; }
  .tile.tile-118 .tile-inner {
    color: #11827f;
    background: #87b49f;
    font-size: 26px; }
  .tile.tile-140 .tile-inner {
    color: #d36e34;
    background: #713b1c;
    font-size: 26px; }
  .tile.tile-161 .tile-inner {
     color: #5dff00;
     background: #61222a;
     font-size: 26px; }
  .tile.tile-162 .tile-inner {
     color: #61222a;
     background: #5dff00;
     font-size: 26px; }
  .tile.tile-171 .tile-inner {
    color: #787274;
    background: #474446; 
    font-size: 26px; }
  .tile.tile-172 .tile-inner {
    color: #4ae8cb;
    background: #9e1a0e; 
    font-size: 26px; }
  .tile.tile-252 .tile-inner {
    color: #c4ff69;
    background: #a9bf86;
    font-size: 26px; }
  .tile.tile-333 .tile-inner {
    color: #ff5c30;
    background: #bfff77;
    font-size: 26px; }
  .tile.tile-370 .tile-inner {
    color: #cf271e;
    background: #c97dd1; }
  .tile.tile-371 .tile-inner {
    color: #ffd48f;
    background: #c97dd1; }
  .tile.tile-372 .tile-inner {
    color: #db3c93;
    background: #c97dd1; }
  .tile.tile-373 .tile-inner {
    color: #def17a;
    background: #c97dd1; }
  .tile.tile-374 .tile-inner {
    color: #ad47d5;
    background: #c97dd1; }
  .tile.tile-375 .tile-inner {
    color: #562fda;
    background: #c97dd1; }
  .tile.tile-376 .tile-inner {
    color: #9ce9ff;
    background: #c97dd1; }
  .tile.tile-377 .tile-inner {
    color: #f3f3f3;
    background: #c97dd1; }
  .tile.tile-378 .tile-inner {
    color: #a9eb88;
    background: #c97dd1; }
  .tile.tile-379 .tile-inner {
    color: #357f2a;
    background: #c97dd1; }
  .tile.tile-3710 .tile-inner {
    color: #297a7b;
    background: #c97dd1; }
  .tile.tile-3711 .tile-inner {
    color: #121212;
    background: #c97dd1; }
  .tile.tile-384 .tile-inner {
    color: #d5e558;
    background: #db0000;
    font-size: 26px; }
  .tile.tile-3333 .tile-inner {
    color: #fe8564;
    background: #ddfeb2;
    font-size: 20px; }
  .tile.tile-5000 .tile-inner {
    color: #d1ab03;
    background: #0309d1;
    font-size: 16px; }
  .tile.tile-7714 .tile-inner {
     color: #a15818;
     background: #c9f3f0;
     font-size: 20px; }
  .tile.tile-8282 .tile-inner {
     color: #a78669;
     background: #e1cebc;
     font-size: 20px; }
  .tile.tile-10000 .tile-inner {
    color: #0309d1;
    background: #d1ab03;
    font-size: 16px; }
  .tile.tile-20000 .tile-inner {
    color: #a20053;
    background: #2cd103;
    font-size: 16px; }
  .tile.tile-33333 .tile-inner {
    color: #feab95;
    background: #f0fed4;
    font-size: 16px; }
  .tile.tile-40000 .tile-inner {
    color: #2cd103;
    background: #a20053;
    font-size: 16px; }
  .tile.tile-828282 .tile-inner {
     color: #b9a18b;
     background: #705843;
     font-size: 14px; }
  .tile.tile-82828282 .tile-inner {
     color: #d6b699;
     background: #f2e4d7;
     font-size: 11px; }
  .tile.tile-3434343434 .tile-inner {
    color: #f9f6f2;
    background: #f10c7b;
    font-size: 1px; }

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

.tile-new .tile-inner {
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

.tile-merged .tile-inner {
  z-index: 20;
  -webkit-animation: pop 200ms ease 100ms;
  -moz-animation: pop 200ms ease 100ms;
  animation: pop 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.game-intro {
  margin-bottom: 0; }

.game-explanation {
  margin-top: 50px; }
